body{
    font-family: arial, sans-serif;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 15%;
}
.search-bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
li{
    display: inline-block;
    padding: 25px 10px 0px 10px;
    color: black;
    font-size: 13px;
    opacity: 0.75;
}
li :hover{
    text-emphasis: underline;
}